@font-face {
  font-family: "Sterilict";
  src: url("Sterilict.ttf");
}

a {
  text-decoration: none;
}

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 10vh;
}
.page:first-of-type {
  margin-top: 0;
}

.page.big {
  margin-top: 25vh;
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.image img {
  width: auto;
  height: 50vh;
  filter: drop-shadow(0px -5px 10px #000000a8);
}

.image img.big {
  width: auto;
  height: 65vh;
}

.text-block {
  width: 100%;
  height: 45vh;
  background: #1a2027;
  position: relative;
  z-index: 0;
}
.text-block h1 {
  text-align: center;
  color: #4a6686;
}
.text-block p {
  color: white;
  width: 100%;
  text-align: center;
}
.header {
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer {
  height: 25vh;
  background: #1a2027;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 200px;
}

.footer p {
  text-align: center;
  width: 50%;
  color: #4a6686;
  font-size: 3vh;
}

.footer-text {
  position: absolute;
  bottom: 10px;
  color: white;
  width: 100%;
  text-align: center;
  display: block;
  font-size: 1vh;
}

.header img {
  width: 220px;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Sterilict";
  letter-spacing: 2px;
  background: #1a2028;
}
* {
  z-index: 1;
  /* scroll-behavior: smooth; */
}

.scrollwrapper {
  /* scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  overscroll-behavior-y: none;
  scroll-snap-stop: always; */
}

.title {
  text-align: center;
  width: 100%;
  height: 30vh;
  color: white;
  font-size: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 5px;
  padding-bottom: 15vh;
}

.round-btn {
  width: 5px;
  height: 5px;
  border-radius: 15px;
  transition: all 0.2s ease;
  margin: 5px;
  border: solid 2px #4a6686;
}

.round-btn:hover {
  width: 15px;
  height: 15px;
}

.round-btn.active {
  background-color: #4a6686;
}

.panel .round-btn-wrapper {
  margin-top: 10vh;
}

.round-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15.5vh;
  height: 50px;
}

.coming {
  color: #4a6686;
  font-size: 40px;
  font-weight: 800;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -13vh;
  overflow: hidden;
  padding-top: 20px;
}

.shadow {
  box-shadow: 0px 0px 27px 7px #000;
  width: 60%;
  height: 20px;
  z-index: 1;
}
.shadow .border {
  height: 1px;
  position: relative;
  top: 1px;
  z-index: 10;
  background: linear-gradient(
    90deg,
    rgba(74, 102, 134, 0.05) 0%,
    rgba(74, 102, 134, 0.3) 50%,
    rgb(74, 102, 134, 0.05) 100%
  );
}

.arrow {
  width: 50px;
  height: 20px;
}

.arrow:hover {
  width: 50px;
  height: 25px;
}

.shadow .overlay {
  position: absolute;
  width: 100%;
  height: 25px;
  background: #1a2027;
  margin: 0 auto;
  left: 0;
}
.background {
  background: radial-gradient(ellipse, #000 0%, #1a2027 70%, #1a2027 100%);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 0;
  /* transform: translatez(0); */
}

.downloads {
  display: flex;
  justify-content: space-between;
}

.download-wrapper {
  display: flex;
  flex-direction: column;
  width: 250px;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  height: 150px;
}

.download {
  border: solid 3px #4a6686;
  border-radius: 10px;
  font-size: 17px;
  color: white;
  height: min-content;
  padding: 10px;
  cursor: pointer;
}

.download:hover {
  background-color: #4a6686;
  color: #171d23;
  font-weight: 800;
}

.heart-icon {
  margin-bottom: -1px;
  margin-right: 3px;
  margin-left: 2px;
}

small {
  display: block;
  font-size: 10px;
  margin-top: 5vh;
  color: #ccc;
}

.stars.large {
  height: 3px;
  width: 3px;
  background: transparent;
  box-shadow: 586px 841px #fff, 130px 1904px #fff, 1804px 1691px #fff, 1874px 1545px #fff, 703px 1244px #fff,
    167px 386px #fff, 1997px 1218px #fff, 94px 301px #fff, 449px 1845px #fff, 851px 194px #fff, 1621px 1893px #fff,
    1043px 673px #fff, 424px 729px #fff, 56px 1809px #fff, 222px 1801px #fff, 1183px 284px #fff, 1402px 1973px #fff,
    1014px 509px #fff, 859px 1121px #fff, 1341px 886px #fff, 1865px 1937px #fff, 1562px 1275px #fff, 995px 1698px #fff,
    88px 699px #fff, 499px 1090px #fff, 1049px 722px #fff, 562px 561px #fff, 1031px 760px #fff, 1069px 447px #fff,
    791px 49px #fff, 155px 1119px #fff, 522px 223px #fff, 604px 149px #fff, 1548px 1046px #fff, 243px 1308px #fff,
    202px 814px #fff, 428px 425px #fff, 658px 1612px #fff, 462px 734px #fff, 1070px 1394px #fff, 52px 599px #fff,
    41px 1298px #fff, 1835px 1091px #fff, 1087px 1103px #fff, 301px 1621px #fff, 1862px 1997px #fff, 727px 316px #fff,
    1188px 272px #fff, 1580px 545px #fff, 577px 6px #fff, 1947px 848px #fff, 1249px 161px #fff, 899px 566px #fff,
    553px 779px #fff, 1660px 1182px #fff, 577px 1817px #fff, 1773px 28px #fff, 452px 743px #fff, 707px 1069px #fff,
    1580px 1074px #fff, 316px 1219px #fff, 1611px 1624px #fff, 993px 394px #fff, 264px 1311px #fff, 175px 217px #fff,
    263px 715px #fff, 511px 651px #fff, 1282px 623px #fff, 557px 1176px #fff, 1162px 1944px #fff, 1751px 1986px #fff,
    1423px 1527px #fff, 1913px 344px #fff, 10px 1227px #fff, 1963px 1132px #fff, 1942px 1869px #fff, 1774px 1404px #fff,
    1981px 1053px #fff, 404px 1266px #fff, 1684px 1596px #fff, 264px 1444px #fff, 422px 96px #fff, 304px 1485px #fff,
    812px 1790px #fff, 1834px 77px #fff, 1017px 1248px #fff, 600px 1762px #fff, 815px 172px #fff, 1232px 1361px #fff,
    227px 397px #fff, 604px 1553px #fff, 1279px 1625px #fff, 1635px 136px #fff, 762px 1996px #fff, 1784px 1019px #fff,
    1747px 38px #fff, 1196px 1254px #fff, 930px 183px #fff, 1989px 971px #fff, 1658px 1020px #fff, 1181px 62px #fff,
    667px 1701px #fff, 1743px 1206px #fff, 1648px 1626px #fff, 1427px 243px #fff, 852px 1272px #fff, 88px 1711px #fff,
    1530px 1121px #fff, 1244px 686px #fff, 1558px 1951px #fff, 1190px 1279px #fff, 1017px 924px #fff, 218px 1553px #fff,
    440px 311px #fff, 1414px 738px #fff, 300px 170px #fff, 1467px 1965px #fff, 1564px 196px #fff, 642px 793px #fff,
    604px 10px #fff, 920px 471px #fff, 824px 1380px #fff, 263px 556px #fff, 1935px 84px #fff, 1575px 483px #fff,
    1446px 1610px #fff, 293px 426px #fff, 1680px 1642px #fff, 1291px 1219px #fff, 927px 1936px #fff, 18px 1724px #fff,
    1497px 1162px #fff, 866px 1074px #fff, 1466px 1794px #fff, 303px 1227px #fff, 914px 1979px #fff, 1032px 1273px #fff,
    1118px 702px #fff, 32px 986px #fff, 1788px 1011px #fff, 1917px 633px #fff, 1982px 260px #fff, 23px 511px #fff,
    1858px 874px #fff, 19px 641px #fff, 1090px 264px #fff, 586px 1589px #fff, 1028px 1341px #fff, 170px 141px #fff,
    1321px 128px #fff, 1119px 628px #fff, 771px 597px #fff, 650px 1248px #fff, 456px 1059px #fff, 867px 1557px #fff,
    514px 1358px #fff, 88px 85px #fff, 1539px 374px #fff, 967px 1946px #fff, 812px 170px #fff, 1694px 485px #fff,
    1569px 469px #fff, 1107px 1252px #fff, 24px 1261px #fff, 1846px 747px #fff, 714px 1575px #fff, 476px 1782px #fff,
    703px 1656px #fff, 990px 1998px #fff, 1522px 1410px #fff, 751px 1840px #fff, 252px 994px #fff, 1170px 1199px #fff,
    271px 853px #fff, 1152px 200px #fff, 562px 1342px #fff, 1086px 1884px #fff, 1133px 1145px #fff, 878px 1991px #fff,
    25px 1357px #fff, 483px 797px #fff, 795px 417px #fff, 925px 1518px #fff, 650px 1756px #fff, 1117px 353px #fff,
    1940px 1240px #fff, 1121px 1244px #fff, 1706px 381px #fff, 1170px 1630px #fff, 1808px 658px #fff, 1781px 1665px #fff,
    562px 1944px #fff, 1854px 1100px #fff, 1999px 612px #fff, 330px 856px #fff, 1877px 776px #fff, 929px 86px #fff,
    1528px 1455px #fff, 1983px 1630px #fff, 265px 1987px #fff, 1403px 349px #fff, 1594px 593px #fff, 1742px 518px #fff,
    1100px 1880px #fff, 1587px 59px #fff, 434px 1131px #fff, 1785px 781px #fff, 546px 1638px #fff, 524px 741px #fff,
    52px 772px #fff, 18px 303px #fff, 298px 325px #fff, 1880px 1738px #fff, 1126px 1676px #fff, 1047px 1119px #fff,
    423px 1346px #fff, 617px 207px #fff, 1177px 1672px #fff, 268px 387px #fff, 1855px 285px #fff, 447px 204px #fff,
    617px 749px #fff, 702px 518px #fff, 1229px 357px #fff, 810px 1919px #fff, 1004px 1295px #fff, 1187px 1857px #fff,
    1544px 113px #fff, 74px 1639px #fff, 1705px 1605px #fff, 112px 35px #fff, 676px 557px #fff, 1342px 1574px #fff,
    1729px 261px #fff, 1042px 832px #fff, 1700px 214px #fff, 1833px 1583px #fff, 408px 523px #fff, 1864px 1149px #fff,
    845px 59px #fff, 1397px 827px #fff, 1602px 1015px #fff, 328px 1641px #fff, 1457px 484px #fff, 1836px 1523px #fff,
    921px 1705px #fff, 760px 716px #fff, 501px 1005px #fff, 1882px 78px #fff, 674px 1584px #fff, 1827px 1239px #fff,
    1174px 1589px #fff, 353px 706px #fff, 376px 1325px #fff, 1695px 1646px #fff, 1791px 1521px #fff, 1310px 258px #fff,
    822px 865px #fff, 1477px 1741px #fff, 1367px 1188px #fff, 1501px 1035px #fff, 417px 235px #fff, 34px 742px #fff,
    13px 713px #fff, 1303px 706px #fff, 1264px 763px #fff, 577px 1653px #fff, 13px 261px #fff, 967px 178px #fff,
    416px 1046px #fff, 14px 400px #fff, 1058px 901px #fff, 210px 1470px #fff, 1744px 654px #fff, 599px 1822px #fff,
    1899px 1655px #fff, 1618px 1346px #fff, 1430px 1151px #fff, 1496px 739px #fff, 1171px 1151px #fff, 629px 650px #fff,
    1857px 220px #fff, 582px 829px #fff, 1757px 491px #fff, 969px 1805px #fff, 892px 1179px #fff, 1750px 448px #fff,
    475px 1512px #fff, 23px 264px #fff, 1990px 1146px #fff, 1593px 124px #fff, 1824px 1416px #fff, 169px 1775px #fff,
    325px 684px #fff, 745px 371px #fff, 89px 1129px #fff, 374px 1032px #fff, 493px 988px #fff, 1417px 54px #fff;
}

.stars.medium {
  height: 2px;
  width: 2px;
  background: transparent;
  box-shadow: 1368px 1092px #fff, 912px 1172px #fff, 1390px 1978px #fff, 1007px 1488px #fff, 733px 1178px #fff,
    1967px 1320px #fff, 1578px 26px #fff, 1691px 1177px #fff, 154px 966px #fff, 1150px 1064px #fff, 96px 1140px #fff,
    1770px 526px #fff, 1589px 654px #fff, 171px 1424px #fff, 1985px 1243px #fff, 6px 224px #fff, 503px 1146px #fff,
    877px 1546px #fff, 515px 222px #fff, 297px 1113px #fff, 1320px 1101px #fff, 649px 941px #fff, 399px 903px #fff,
    502px 766px #fff, 1078px 519px #fff, 1262px 63px #fff, 434px 1836px #fff, 1967px 1082px #fff, 886px 554px #fff,
    1415px 1816px #fff, 1070px 1664px #fff, 1212px 73px #fff, 854px 1298px #fff, 671px 19px #fff, 1265px 912px #fff,
    637px 1437px #fff, 1719px 420px #fff, 790px 791px #fff, 1545px 1221px #fff, 498px 1646px #fff, 61px 1458px #fff,
    1808px 656px #fff, 1826px 1549px #fff, 1423px 479px #fff, 1227px 1873px #fff, 1634px 75px #fff, 991px 1391px #fff,
    481px 571px #fff, 446px 1281px #fff, 162px 1136px #fff, 1146px 358px #fff, 1837px 829px #fff, 147px 825px #fff,
    1273px 906px #fff, 1213px 581px #fff, 715px 1598px #fff, 535px 1990px #fff, 1395px 752px #fff, 1794px 1187px #fff,
    335px 943px #fff, 1545px 202px #fff, 634px 517px #fff, 530px 1115px #fff, 625px 185px #fff, 817px 1923px #fff,
    880px 636px #fff, 121px 1356px #fff, 1272px 281px #fff, 1697px 562px #fff, 1074px 866px #fff, 944px 1523px #fff,
    422px 428px #fff, 1707px 1795px #fff, 1647px 379px #fff, 1693px 49px #fff, 1442px 614px #fff, 1237px 1662px #fff,
    1085px 32px #fff, 1895px 18px #fff, 1940px 1251px #fff, 1163px 1932px #fff, 569px 3px #fff, 640px 1417px #fff,
    617px 86px #fff, 548px 525px #fff, 1691px 1977px #fff, 1856px 583px #fff, 400px 1200px #fff, 342px 982px #fff,
    441px 1020px #fff, 1101px 1779px #fff, 1282px 262px #fff, 1051px 1704px #fff, 1634px 487px #fff, 422px 130px #fff,
    820px 1511px #fff, 1029px 888px #fff, 975px 521px #fff, 38px 223px #fff, 1333px 1409px #fff, 1066px 1786px #fff,
    1939px 357px #fff, 806px 1260px #fff, 37px 1399px #fff, 1277px 1763px #fff, 463px 1443px #fff, 179px 1589px #fff,
    1850px 1646px #fff, 1253px 1010px #fff, 1348px 64px #fff, 1234px 430px #fff, 1250px 984px #fff, 1290px 244px #fff,
    1616px 1340px #fff, 1394px 226px #fff, 77px 188px #fff, 825px 831px #fff, 1692px 594px #fff, 1025px 1963px #fff,
    1153px 1038px #fff, 1969px 1135px #fff, 1114px 737px #fff, 1546px 695px #fff, 1748px 109px #fff, 383px 1278px #fff,
    1258px 733px #fff, 243px 1868px #fff, 1635px 1453px #fff, 1901px 1296px #fff, 18px 785px #fff, 1710px 1690px #fff,
    1248px 288px #fff, 51px 291px #fff, 1696px 178px #fff, 1131px 786px #fff, 837px 221px #fff, 925px 1311px #fff,
    459px 534px #fff, 872px 627px #fff, 455px 1800px #fff, 1027px 30px #fff, 1823px 842px #fff, 4px 1069px #fff,
    622px 142px #fff, 93px 1263px #fff, 1485px 798px #fff, 1286px 1684px #fff, 521px 1758px #fff, 1345px 1055px #fff,
    1966px 81px #fff, 853px 1636px #fff, 1790px 417px #fff, 378px 317px #fff, 1961px 1501px #fff, 823px 1930px #fff,
    697px 472px #fff, 1625px 712px #fff, 138px 1705px #fff, 1751px 1093px #fff, 1596px 394px #fff, 180px 109px #fff,
    1393px 291px #fff, 1379px 550px #fff, 1006px 1588px #fff, 92px 252px #fff, 914px 1933px #fff, 36px 473px #fff,
    788px 1960px #fff, 446px 1380px #fff, 441px 1279px #fff, 1727px 99px #fff, 1414px 1304px #fff, 1707px 449px #fff,
    211px 932px #fff, 433px 539px #fff, 1576px 1005px #fff, 369px 951px #fff, 1059px 410px #fff, 699px 949px #fff,
    612px 707px #fff, 8px 1856px #fff, 236px 531px #fff, 632px 244px #fff, 219px 939px #fff, 479px 1639px #fff,
    982px 132px #fff, 94px 726px #fff, 320px 990px #fff, 764px 876px #fff, 690px 1679px #fff, 1212px 1151px #fff,
    839px 57px #fff, 1490px 1067px #fff, 1286px 604px #fff, 750px 1558px #fff, 1556px 527px #fff, 417px 914px #fff,
    627px 1056px #fff, 1981px 923px #fff, 704px 1304px #fff, 1374px 544px #fff, 721px 629px #fff, 777px 1048px #fff,
    1760px 207px #fff, 1717px 706px #fff, 1407px 588px #fff, 166px 747px #fff, 145px 1806px #fff, 707px 1313px #fff,
    1119px 1639px #fff, 1609px 554px #fff, 101px 1401px #fff, 251px 1208px #fff, 354px 893px #fff, 187px 1843px #fff,
    592px 307px #fff, 563px 712px #fff, 104px 1811px #fff, 1323px 1070px #fff, 1432px 1831px #fff, 1016px 770px #fff,
    1139px 260px #fff, 1161px 1199px #fff, 991px 866px #fff, 1406px 1310px #fff, 1703px 1258px #fff, 1967px 1623px #fff,
    1497px 986px #fff, 1498px 1849px #fff, 210px 1462px #fff, 31px 698px #fff, 795px 503px #fff, 78px 615px #fff,
    97px 1674px #fff, 1200px 480px #fff, 367px 922px #fff, 96px 326px #fff, 558px 825px #fff, 1833px 646px #fff,
    1207px 1376px #fff, 1171px 720px #fff, 531px 1546px #fff, 535px 1308px #fff, 1229px 508px #fff, 1388px 650px #fff,
    12px 51px #fff, 31px 1004px #fff, 974px 295px #fff, 1430px 1672px #fff, 993px 823px #fff, 1124px 326px #fff,
    1731px 326px #fff, 491px 1786px #fff, 1193px 307px #fff, 1850px 1130px #fff, 1575px 987px #fff, 1307px 1749px #fff,
    1779px 1267px #fff, 1138px 1067px #fff, 1882px 768px #fff, 982px 854px #fff, 972px 1122px #fff, 890px 1255px #fff,
    101px 2000px #fff, 1263px 1756px #fff, 765px 961px #fff, 925px 369px #fff, 210px 577px #fff, 1348px 819px #fff,
    1848px 556px #fff, 1106px 1249px #fff, 60px 309px #fff, 1082px 1738px #fff, 22px 1765px #fff, 13px 223px #fff,
    1069px 944px #fff, 23px 1825px #fff, 1640px 96px #fff, 1285px 1099px #fff, 448px 1451px #fff, 496px 1713px #fff,
    777px 384px #fff, 698px 878px #fff, 875px 390px #fff, 1576px 1553px #fff, 1572px 1900px #fff, 226px 315px #fff,
    583px 1844px #fff, 1176px 689px #fff, 1141px 1736px #fff, 1157px 1747px #fff, 1465px 1544px #fff, 759px 1127px #fff,
    451px 1101px #fff, 1668px 178px #fff, 635px 488px #fff, 1010px 598px #fff, 1519px 1584px #fff, 1981px 1249px #fff,
    1250px 91px #fff, 1883px 1442px #fff, 1391px 755px #fff, 362px 824px #fff, 1902px 1246px #fff, 1371px 1015px #fff,
    924px 802px #fff, 1749px 1672px #fff, 1471px 750px #fff, 1083px 652px #fff, 947px 1550px #fff, 489px 1884px #fff,
    2px 1914px #fff, 774px 1957px #fff, 955px 481px #fff, 1724px 676px #fff, 92px 204px #fff, 386px 1668px #fff,
    625px 1324px #fff, 1932px 30px #fff, 261px 986px #fff, 51px 676px #fff, 1848px 786px #fff, 1742px 622px #fff,
    1724px 1600px #fff, 1480px 413px #fff, 1851px 497px #fff, 408px 116px #fff, 1968px 1832px #fff, 369px 266px #fff,
    1884px 1705px #fff, 1913px 480px #fff, 533px 499px #fff, 86px 1714px #fff, 1491px 1759px #fff, 1101px 239px #fff,
    1964px 652px #fff, 101px 1742px #fff, 1777px 563px #fff, 328px 911px #fff, 921px 1691px #fff, 1891px 1112px #fff,
    393px 1154px #fff, 518px 1545px #fff, 188px 563px #fff, 484px 1321px #fff, 1506px 152px #fff, 1700px 755px #fff,
    1328px 1073px #fff, 1669px 29px #fff, 1780px 1113px #fff, 1192px 297px #fff, 632px 523px #fff, 567px 682px #fff,
    1471px 1365px #fff, 800px 818px #fff, 1408px 634px #fff, 582px 1767px #fff, 1548px 1376px #fff, 1693px 77px #fff,
    1812px 535px #fff, 1459px 1956px #fff, 639px 1072px #fff, 1765px 1438px #fff, 228px 1695px #fff, 1387px 1835px #fff,
    121px 523px #fff, 1024px 1975px #fff, 403px 1272px #fff, 439px 1576px #fff, 1172px 1355px #fff, 1199px 1636px #fff,
    370px 81px #fff, 1352px 90px #fff, 1278px 965px #fff, 30px 988px #fff, 3px 1381px #fff, 252px 1761px #fff,
    1597px 808px #fff, 1709px 635px #fff, 1081px 1767px #fff, 1734px 1421px #fff, 651px 904px #fff, 1470px 598px #fff,
    1483px 713px #fff, 872px 1726px #fff, 1694px 1409px #fff, 1101px 977px #fff, 1905px 907px #fff, 874px 1646px #fff,
    59px 1547px #fff, 1621px 555px #fff, 1019px 1494px #fff, 980px 372px #fff, 1608px 1589px #fff, 1061px 414px #fff,
    501px 724px #fff, 119px 672px #fff, 717px 1401px #fff, 627px 1716px #fff, 852px 426px #fff, 1930px 48px #fff,
    1266px 1115px #fff, 145px 11px #fff, 1692px 60px #fff, 214px 921px #fff, 861px 399px #fff, 301px 759px #fff,
    93px 805px #fff, 307px 467px #fff, 1237px 1718px #fff, 1134px 1828px #fff, 1836px 1369px #fff, 285px 78px #fff,
    208px 228px #fff, 438px 1218px #fff, 612px 507px #fff, 381px 614px #fff, 1651px 1579px #fff, 835px 1645px #fff,
    1416px 1894px #fff, 1933px 30px #fff, 171px 715px #fff, 516px 978px #fff, 1293px 1486px #fff, 1689px 819px #fff,
    1559px 365px #fff, 534px 1999px #fff, 1974px 1369px #fff, 1357px 254px #fff, 234px 380px #fff, 1177px 1187px #fff,
    854px 120px #fff, 1913px 122px #fff, 686px 424px #fff, 1144px 1068px #fff, 1452px 1363px #fff, 278px 1137px #fff,
    459px 1594px #fff, 1916px 1914px #fff, 1486px 59px #fff, 1671px 1449px #fff, 788px 10px #fff, 1670px 753px #fff,
    566px 1502px #fff, 213px 421px #fff, 1137px 1409px #fff, 888px 25px #fff, 101px 464px #fff, 1985px 1721px #fff,
    1819px 708px #fff, 1987px 1642px #fff, 1912px 304px #fff, 1766px 21px #fff, 1710px 1753px #fff, 1221px 888px #fff,
    439px 89px #fff, 1377px 1690px #fff, 1120px 722px #fff, 841px 1650px #fff, 1431px 1019px #fff, 412px 1232px #fff,
    201px 1610px #fff, 1669px 401px #fff, 1653px 1865px #fff, 1072px 924px #fff, 1076px 1998px #fff, 329px 1276px #fff,
    1637px 982px #fff, 400px 631px #fff, 1657px 1859px #fff, 1750px 457px #fff, 719px 838px #fff, 931px 1006px #fff,
    1368px 1867px #fff, 1707px 1766px #fff, 270px 1042px #fff, 1727px 1005px #fff, 1050px 1081px #fff, 353px 274px #fff,
    137px 450px #fff, 1579px 1707px #fff, 1607px 825px #fff, 1916px 100px #fff, 54px 902px #fff, 708px 1842px #fff,
    1945px 641px #fff, 1767px 1158px #fff, 1587px 950px #fff, 1598px 109px #fff, 6px 1933px #fff, 1137px 1331px #fff,
    412px 1338px #fff, 354px 238px #fff, 1958px 1922px #fff, 1298px 106px #fff, 1309px 1348px #fff, 1253px 1004px #fff,
    1047px 1737px #fff, 1825px 1249px #fff;
}

.stars.small {
  height: 1px;
  width: 1px;
  background: transparent;
  box-shadow: 103px 535px #fff, 1463px 1179px #fff, 565px 596px #fff, 961px 450px #fff, 728px 1109px #fff,
    40px 47px #fff, 374px 1319px #fff, 1964px 612px #fff, 1460px 1450px #fff, 1338px 866px #fff, 76px 1782px #fff,
    109px 1418px #fff, 46px 1806px #fff, 1141px 630px #fff, 27px 1165px #fff, 1003px 403px #fff, 409px 1775px #fff,
    1578px 452px #fff, 1474px 1898px #fff, 919px 1007px #fff, 490px 1866px #fff, 1111px 756px #fff, 1992px 1739px #fff,
    599px 1394px #fff, 1026px 897px #fff, 1194px 114px #fff, 1761px 711px #fff, 1853px 1168px #fff, 1789px 1048px #fff,
    877px 1528px #fff, 1008px 1615px #fff, 1154px 1421px #fff, 1890px 420px #fff, 1862px 1678px #fff, 246px 445px #fff,
    1798px 1852px #fff, 1643px 154px #fff, 291px 1702px #fff, 522px 1161px #fff, 1605px 485px #fff, 1352px 1607px #fff,
    365px 954px #fff, 407px 397px #fff, 295px 523px #fff, 1045px 1723px #fff, 1888px 1109px #fff, 1300px 467px #fff,
    32px 1303px #fff, 1947px 1830px #fff, 253px 323px #fff, 306px 892px #fff, 417px 867px #fff, 111px 1735px #fff,
    1974px 1260px #fff, 440px 1935px #fff, 429px 445px #fff, 1217px 1175px #fff, 40px 1688px #fff, 167px 321px #fff,
    363px 995px #fff, 1019px 768px #fff, 1622px 1099px #fff, 1472px 597px #fff, 1874px 119px #fff, 1327px 1333px #fff,
    691px 1465px #fff, 1018px 84px #fff, 1534px 1701px #fff, 1007px 1068px #fff, 1267px 724px #fff, 661px 874px #fff,
    571px 1984px #fff, 454px 1325px #fff, 364px 5px #fff, 1514px 1215px #fff, 16px 162px #fff, 1781px 174px #fff,
    1284px 1170px #fff, 1093px 417px #fff, 648px 1413px #fff, 824px 576px #fff, 1932px 1273px #fff, 1027px 985px #fff,
    716px 697px #fff, 1468px 1668px #fff, 730px 428px #fff, 1823px 1743px #fff, 825px 1398px #fff, 615px 1564px #fff,
    1045px 1208px #fff, 942px 9px #fff, 975px 716px #fff, 1266px 222px #fff, 229px 1036px #fff, 370px 784px #fff,
    441px 1459px #fff, 1091px 907px #fff, 438px 393px #fff, 1508px 851px #fff, 689px 1203px #fff, 1739px 1295px #fff,
    1910px 1819px #fff, 173px 924px #fff, 1507px 886px #fff, 87px 93px #fff, 992px 1838px #fff, 1961px 654px #fff,
    1286px 1234px #fff, 1341px 286px #fff, 695px 1305px #fff, 145px 1924px #fff, 1995px 899px #fff, 400px 934px #fff,
    55px 1091px #fff, 676px 1879px #fff, 1801px 1252px #fff, 867px 1954px #fff, 1321px 1148px #fff, 353px 178px #fff,
    1746px 1890px #fff, 93px 1321px #fff, 817px 821px #fff, 1392px 1482px #fff, 826px 589px #fff, 1328px 1477px #fff,
    1255px 1404px #fff, 400px 1305px #fff, 1856px 1300px #fff, 566px 58px #fff, 70px 1804px #fff, 1517px 114px #fff,
    1539px 1710px #fff, 463px 1709px #fff, 1033px 752px #fff, 900px 1785px #fff, 336px 1991px #fff, 604px 1866px #fff,
    641px 525px #fff, 887px 481px #fff, 606px 1763px #fff, 1211px 1297px #fff, 970px 1865px #fff, 838px 243px #fff,
    1393px 478px #fff, 236px 426px #fff, 432px 1718px #fff, 965px 1867px #fff, 134px 1258px #fff, 997px 1244px #fff,
    625px 352px #fff, 865px 74px #fff, 216px 1059px #fff, 1424px 1759px #fff, 440px 1028px #fff, 256px 1549px #fff,
    1687px 1118px #fff, 39px 1082px #fff, 684px 1317px #fff, 64px 1562px #fff, 1600px 237px #fff, 369px 448px #fff,
    358px 1537px #fff, 742px 1412px #fff, 1681px 1347px #fff, 913px 583px #fff, 1478px 571px #fff, 1099px 471px #fff,
    1802px 1262px #fff, 858px 473px #fff, 503px 1586px #fff, 308px 787px #fff, 10px 1659px #fff, 49px 305px #fff,
    745px 1341px #fff, 1435px 898px #fff, 1342px 465px #fff, 1912px 1048px #fff, 637px 1947px #fff, 1387px 177px #fff,
    307px 269px #fff, 1309px 17px #fff, 45px 1395px #fff, 1545px 806px #fff, 1641px 50px #fff, 1303px 1206px #fff,
    1431px 192px #fff, 161px 1690px #fff, 1876px 1292px #fff, 1156px 118px #fff, 1789px 657px #fff, 307px 439px #fff,
    451px 1644px #fff, 540px 1330px #fff, 1064px 714px #fff, 747px 178px #fff, 1663px 1954px #fff, 1500px 1563px #fff,
    965px 349px #fff, 3px 1307px #fff, 1386px 494px #fff, 875px 60px #fff, 461px 335px #fff, 664px 1703px #fff,
    1723px 1739px #fff, 383px 1195px #fff, 1415px 869px #fff, 263px 1523px #fff, 1066px 1606px #fff, 27px 231px #fff,
    541px 108px #fff, 994px 187px #fff, 980px 972px #fff, 531px 1367px #fff, 1370px 825px #fff, 172px 1031px #fff,
    907px 623px #fff, 1206px 1259px #fff, 1953px 1500px #fff, 204px 1229px #fff, 1765px 710px #fff, 556px 1764px #fff,
    1536px 42px #fff, 193px 623px #fff, 1518px 1509px #fff, 1322px 1501px #fff, 366px 1461px #fff, 1481px 283px #fff,
    513px 1390px #fff, 1418px 160px #fff, 1022px 1781px #fff, 1760px 475px #fff, 234px 217px #fff, 1570px 1424px #fff,
    1249px 1658px #fff, 34px 210px #fff, 853px 64px #fff, 1862px 428px #fff, 1583px 1686px #fff, 239px 302px #fff,
    933px 1100px #fff, 54px 1262px #fff, 909px 631px #fff, 1000px 951px #fff, 767px 1081px #fff, 1921px 1784px #fff,
    308px 1082px #fff, 1458px 26px #fff, 1520px 537px #fff, 816px 1977px #fff, 200px 750px #fff, 1911px 86px #fff,
    1733px 1121px #fff, 1744px 1551px #fff, 315px 1697px #fff, 274px 1356px #fff, 1332px 602px #fff, 809px 613px #fff,
    784px 1304px #fff, 900px 978px #fff, 1111px 599px #fff, 1146px 1392px #fff, 1684px 300px #fff, 1230px 664px #fff,
    356px 665px #fff, 1544px 775px #fff, 1315px 917px #fff, 451px 1236px #fff, 1533px 1185px #fff, 1175px 1538px #fff,
    1787px 441px #fff, 1331px 849px #fff, 260px 914px #fff, 506px 45px #fff, 1091px 1317px #fff, 1942px 6px #fff,
    1051px 574px #fff, 120px 538px #fff, 1973px 1334px #fff, 492px 1938px #fff, 367px 663px #fff, 1068px 973px #fff,
    748px 1651px #fff, 1362px 939px #fff, 1463px 739px #fff, 1184px 669px #fff, 1204px 1966px #fff, 48px 1025px #fff,
    571px 1060px #fff, 1454px 1134px #fff, 1166px 1828px #fff, 633px 1225px #fff, 1041px 1019px #fff, 992px 100px #fff,
    1445px 1313px #fff, 969px 1153px #fff, 747px 1195px #fff, 966px 910px #fff, 1274px 1128px #fff, 1330px 990px #fff,
    1779px 567px #fff, 279px 1079px #fff, 506px 600px #fff, 1307px 3px #fff, 851px 1781px #fff, 63px 143px #fff,
    522px 36px #fff, 1877px 1931px #fff, 1470px 604px #fff, 1758px 830px #fff, 46px 722px #fff, 725px 901px #fff,
    1222px 1904px #fff, 1837px 1018px #fff, 610px 1975px #fff, 1105px 657px #fff, 1982px 358px #fff, 1742px 1533px #fff,
    537px 1213px #fff, 1904px 1946px #fff, 97px 1044px #fff, 1806px 1222px #fff, 288px 1236px #fff, 1061px 74px #fff,
    226px 1588px #fff, 1541px 711px #fff, 633px 1179px #fff, 1772px 730px #fff, 738px 1524px #fff, 645px 1915px #fff,
    174px 1917px #fff, 785px 654px #fff, 1585px 1009px #fff, 1476px 1027px #fff, 583px 458px #fff, 1006px 35px #fff,
    693px 532px #fff, 1366px 1118px #fff, 1347px 461px #fff, 173px 1497px #fff, 1315px 652px #fff, 414px 346px #fff,
    1587px 1007px #fff, 885px 12px #fff, 1749px 1418px #fff, 1545px 54px #fff, 338px 41px #fff, 1832px 4px #fff,
    1521px 1072px #fff, 1792px 659px #fff, 350px 155px #fff, 1125px 1772px #fff, 1716px 275px #fff, 151px 752px #fff,
    826px 1923px #fff, 1343px 1675px #fff, 940px 798px #fff, 1397px 1551px #fff, 1529px 1350px #fff, 1028px 140px #fff,
    386px 409px #fff, 835px 129px #fff, 1128px 1675px #fff, 1246px 472px #fff, 24px 415px #fff, 190px 1579px #fff,
    1908px 843px #fff, 1735px 1989px #fff, 1985px 1460px #fff, 1708px 1725px #fff, 1427px 487px #fff, 1378px 675px #fff,
    846px 990px #fff, 133px 1896px #fff, 546px 798px #fff, 599px 881px #fff, 1330px 1969px #fff, 1588px 426px #fff,
    1105px 1221px #fff, 1141px 1150px #fff, 38px 149px #fff, 1543px 1332px #fff, 359px 156px #fff, 291px 250px #fff,
    1953px 93px #fff, 1640px 197px #fff, 1280px 1716px #fff, 1312px 1873px #fff, 1868px 272px #fff, 160px 1872px #fff,
    768px 739px #fff, 1142px 1884px #fff, 52px 1918px #fff, 124px 618px #fff, 1960px 1930px #fff, 1414px 817px #fff,
    1575px 677px #fff, 1130px 1638px #fff, 38px 1139px #fff, 260px 764px #fff, 47px 1972px #fff, 1608px 1038px #fff,
    1854px 1353px #fff, 1661px 1317px #fff, 1472px 1986px #fff, 1704px 1687px #fff, 1509px 1716px #fff, 902px 877px #fff,
    752px 9px #fff, 698px 1098px #fff, 1323px 635px #fff, 337px 202px #fff, 1274px 1800px #fff, 665px 654px #fff,
    410px 341px #fff, 1388px 1066px #fff, 925px 845px #fff, 445px 827px #fff, 470px 586px #fff, 182px 630px #fff,
    1050px 15px #fff, 1489px 973px #fff, 493px 729px #fff, 699px 1621px #fff, 95px 681px #fff, 240px 983px #fff,
    945px 1037px #fff, 1034px 592px #fff, 1763px 1054px #fff, 1060px 1566px #fff, 1793px 490px #fff, 909px 862px #fff,
    1735px 1306px #fff, 1082px 1792px #fff, 1934px 655px #fff, 1430px 1013px #fff, 1207px 511px #fff, 1135px 853px #fff,
    364px 302px #fff, 827px 1262px #fff, 1503px 1096px #fff, 552px 154px #fff, 1089px 1557px #fff, 833px 1761px #fff,
    1941px 1997px #fff, 808px 730px #fff, 719px 627px #fff, 560px 1073px #fff, 52px 785px #fff, 779px 1423px #fff,
    1427px 1190px #fff, 547px 1682px #fff, 1115px 1429px #fff, 465px 1734px #fff, 1973px 487px #fff, 816px 264px #fff,
    1892px 447px #fff, 1332px 1636px #fff, 1077px 982px #fff, 801px 1148px #fff, 1262px 1064px #fff, 521px 764px #fff,
    205px 1124px #fff, 247px 678px #fff, 665px 1523px #fff, 1606px 1912px #fff, 126px 680px #fff, 1973px 1007px #fff,
    1916px 207px #fff, 645px 1969px #fff, 909px 1887px #fff, 1086px 1561px #fff, 40px 1524px #fff, 616px 1857px #fff,
    1969px 97px #fff, 389px 483px #fff, 1793px 210px #fff, 1107px 831px #fff, 1685px 1484px #fff, 1117px 1712px #fff,
    714px 755px #fff, 874px 1291px #fff, 1891px 1466px #fff, 107px 177px #fff, 1972px 1877px #fff, 944px 1296px #fff,
    698px 1658px #fff, 1600px 857px #fff, 737px 597px #fff, 648px 393px #fff, 274px 613px #fff, 856px 361px #fff,
    813px 1968px #fff, 1962px 967px #fff, 809px 1481px #fff, 1418px 940px #fff, 1314px 108px #fff, 798px 654px #fff,
    837px 1979px #fff, 400px 232px #fff, 1812px 1195px #fff, 84px 296px #fff, 1551px 680px #fff, 234px 799px #fff,
    583px 468px #fff, 1126px 1073px #fff, 648px 1958px #fff, 1054px 91px #fff, 1742px 247px #fff, 1006px 453px #fff,
    928px 547px #fff, 840px 1218px #fff, 132px 739px #fff, 318px 585px #fff, 289px 871px #fff, 1307px 141px #fff,
    1477px 692px #fff, 557px 957px #fff, 975px 1454px #fff, 970px 810px #fff, 506px 994px #fff, 827px 617px #fff,
    206px 985px #fff, 1480px 1136px #fff, 963px 1304px #fff, 1972px 275px #fff, 1679px 376px #fff, 1357px 661px #fff,
    1945px 854px #fff, 1730px 1269px #fff, 1861px 747px #fff, 1001px 262px #fff, 1329px 404px #fff, 12px 490px #fff,
    1738px 789px #fff, 1812px 273px #fff, 919px 342px #fff, 738px 336px #fff, 1277px 503px #fff, 1284px 1190px #fff,
    639px 776px #fff, 516px 426px #fff, 91px 493px #fff, 762px 913px #fff, 1676px 811px #fff, 604px 872px #fff,
    926px 1434px #fff, 1086px 1973px #fff, 228px 1633px #fff, 111px 1944px #fff, 1065px 1614px #fff, 416px 543px #fff,
    503px 541px #fff, 1259px 1584px #fff, 1253px 1553px #fff, 361px 1518px #fff, 952px 1781px #fff, 1965px 1038px #fff,
    507px 1969px #fff, 763px 960px #fff, 1830px 558px #fff, 1654px 320px #fff, 1662px 1068px #fff, 1714px 158px #fff,
    766px 1992px #fff, 1128px 412px #fff, 45px 759px #fff, 605px 1978px #fff, 389px 510px #fff, 1217px 1632px #fff,
    522px 1095px #fff, 783px 1001px #fff, 445px 210px #fff, 86px 360px #fff, 1616px 1994px #fff, 1808px 1591px #fff,
    1955px 622px #fff, 1464px 443px #fff, 1330px 7px #fff, 1127px 1794px #fff, 1511px 302px #fff, 1782px 1552px #fff,
    663px 143px #fff, 1722px 947px #fff, 1769px 1511px #fff, 304px 1726px #fff, 1189px 1180px #fff, 237px 1296px #fff,
    1898px 469px #fff, 1990px 255px #fff, 1145px 576px #fff, 450px 1004px #fff, 746px 1621px #fff, 999px 597px #fff,
    1701px 589px #fff, 1947px 98px #fff, 1994px 631px #fff, 310px 1299px #fff, 971px 1217px #fff, 1105px 1039px #fff,
    1812px 1285px #fff, 1669px 1022px #fff, 1695px 4px #fff, 436px 1562px #fff, 462px 180px #fff, 186px 548px #fff,
    94px 1498px #fff, 1167px 580px #fff, 1790px 1793px #fff, 965px 637px #fff, 1957px 1791px #fff, 1321px 344px #fff,
    1660px 415px #fff, 258px 576px #fff, 321px 693px #fff, 1838px 1314px #fff, 934px 134px #fff, 1917px 821px #fff,
    1754px 937px #fff, 1476px 1343px #fff, 107px 263px #fff, 659px 1766px #fff, 1028px 292px #fff, 355px 1014px #fff,
    654px 1802px #fff, 715px 544px #fff, 1491px 1278px #fff, 1475px 558px #fff, 219px 343px #fff, 76px 592px #fff,
    1695px 518px #fff, 748px 1215px #fff, 1380px 1727px #fff, 112px 819px #fff, 1788px 973px #fff, 148px 1017px #fff,
    292px 654px #fff, 413px 1900px #fff, 1028px 875px #fff, 205px 104px #fff, 576px 901px #fff, 867px 1179px #fff,
    1434px 170px #fff, 615px 1740px #fff, 1684px 1843px #fff, 109px 1007px #fff, 173px 351px #fff, 1207px 1626px #fff,
    1201px 1356px #fff, 1967px 91px #fff, 628px 926px #fff, 414px 149px #fff, 134px 1358px #fff, 201px 674px #fff,
    824px 571px #fff, 792px 1452px #fff, 168px 1243px #fff, 1177px 227px #fff, 1342px 1807px #fff, 324px 629px #fff,
    768px 1427px #fff, 1077px 325px #fff, 1016px 1154px #fff, 1426px 845px #fff, 230px 535px #fff, 651px 670px #fff,
    966px 165px #fff, 1852px 18px #fff, 942px 1556px #fff, 730px 1755px #fff, 1670px 613px #fff, 1242px 1549px #fff,
    304px 763px #fff, 728px 1337px #fff, 355px 577px #fff, 1107px 1515px #fff, 723px 1248px #fff, 1692px 1501px #fff,
    547px 1611px #fff, 1038px 1535px #fff, 1192px 111px #fff, 1454px 46px #fff, 810px 464px #fff, 1584px 1332px #fff,
    1402px 1657px #fff, 497px 1745px #fff, 688px 823px #fff, 1259px 537px #fff, 18px 935px #fff, 1843px 544px #fff,
    639px 1296px #fff, 926px 406px #fff, 1056px 1160px #fff, 454px 896px #fff, 947px 1841px #fff, 1710px 1600px #fff,
    677px 1983px #fff, 1943px 1029px #fff, 1032px 241px #fff, 1027px 1526px #fff, 897px 1286px #fff, 44px 1517px #fff,
    481px 1495px #fff, 576px 1400px #fff, 1834px 580px #fff, 1312px 979px #fff, 555px 223px #fff, 1662px 1387px #fff,
    1756px 1343px #fff, 1526px 1241px #fff, 445px 243px #fff, 463px 681px #fff, 28px 1401px #fff, 858px 1835px #fff,
    1512px 1249px #fff, 1619px 72px #fff, 1050px 1399px #fff, 176px 1951px #fff, 783px 750px #fff, 819px 566px #fff,
    1535px 656px #fff, 699px 127px #fff, 1004px 914px #fff, 1784px 28px #fff, 1721px 1510px #fff, 135px 1912px #fff,
    422px 368px #fff, 267px 935px #fff, 915px 801px #fff, 736px 788px #fff, 519px 582px #fff, 733px 190px #fff,
    234px 433px #fff, 1752px 1252px #fff, 939px 888px #fff, 1721px 213px #fff, 439px 804px #fff, 1828px 1221px #fff,
    41px 1552px #fff, 172px 109px #fff, 478px 722px #fff, 1560px 632px #fff, 283px 639px #fff, 127px 1939px #fff,
    627px 1435px #fff, 193px 1509px #fff, 742px 20px #fff, 209px 1423px #fff, 913px 596px #fff, 582px 273px #fff,
    1378px 683px #fff, 533px 901px #fff, 378px 1627px #fff, 241px 1220px #fff, 731px 907px #fff, 583px 102px #fff,
    665px 1536px #fff, 418px 390px #fff, 466px 1564px #fff, 1535px 443px #fff, 1676px 1996px #fff, 1839px 661px #fff,
    1431px 565px #fff, 1107px 442px #fff, 1501px 390px #fff, 478px 971px #fff, 742px 135px #fff, 1023px 1187px #fff,
    502px 868px #fff, 230px 824px #fff, 1018px 1978px #fff, 897px 475px #fff, 81px 1279px #fff, 783px 1450px #fff,
    1823px 308px #fff, 1996px 1804px #fff, 1994px 716px #fff, 324px 1194px #fff, 1560px 1186px #fff, 954px 1846px #fff,
    1573px 1528px #fff, 1518px 300px #fff, 787px 1237px #fff, 458px 804px #fff, 1959px 247px #fff, 1457px 814px #fff,
    1496px 137px #fff, 983px 1718px #fff, 856px 1834px #fff, 1641px 1056px #fff, 426px 354px #fff, 1030px 1547px #fff,
    1055px 233px #fff, 1146px 1571px #fff, 948px 1108px #fff, 1402px 79px #fff, 1566px 922px #fff, 321px 644px #fff,
    749px 1920px #fff, 881px 1239px #fff;
}
